extends /_layout/_default

block CONSTANTS
  -
    PAGE = {
      DIR: ''
    };

block main
  main
    section
      h1 Web Template
      div
        a(href='https://github.com/kajiyan/webTemplate', target='_blank') Git Repository
