//- No Script
noscript
  div(class='sw-Warning_Outer')
    div(class='sw-Container')
      div(class='sw-Warning')
        div(class='sw-Container_Inner')
          div(class='sw-Warning_Inner')
            p(class='sw-Warning_Pra')
              | 当サイトを最適な状態で閲覧していただくにはブラウザのjavaScriptを有効にしてご利用下さい。
              br
              | javaScriptを無効のままご覧いただいた場合、正しい情報を取得できない場合がございます。
